.challengeBoxContainer {
  height: 100%;
  background: var(--white);

  padding: 2.4rem 3.2rem;

  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.challengeNotActive {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 4rem; */
}

.challengeNotActive strong {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.4rem;
  color: var(--text);
}

.challengeNotActive p {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 2.4rem; */

  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4;
  max-width: 70%;

  color: var(--text);

  margin-top: 4rem;
}

.challengeNotActive p img {
  /* margin-top: 1.6rem; */
}

.challengeActive {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.challengeActive header {
  font-weight: 600;
  font-size: 2rem;
  line-height: 3.0;

  color: var(--blue);
  /* padding: 0 3.2rem 2.4rem; */

  border-bottom: 1px solid var(--gray-line);
}

.challengeActive main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.challengeActive main strong {
  font-weight: 600;
  font-size: 3rem;
  line-height: 4.0;

  color: var(--title);
  /* margin: 2.4rem 0 1.6rem; */
}

.challengeActive main p {
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--text);
  line-height: 2.6;
}

.challengeActive footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .8rem;
}

.challengeActive footer button {
  height: 4.8rem;
  border-radius: 5px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--white);

  font-size: 1.6rem;
  font-weight: 600;

  transition: filter 0.2s;
}

.challengeFailButton {
  background: var(--red);
}


.challengeSucceededButton {
  background: var(--green);
}

.challengeActive footer button:hover {
  filter: brightness(0.9);
}